#top{
    background-color:  yellow;
}
.main-nav li{
    display: inline-block;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 150px;
}
.main-nav li a{
    color:black;
    padding: 2px 15px;
    text-decoration: none;
    font-family: "PTSans";
    font-size: 25px;
    font-weight: bold;
}
#logo{
    position: relative;
    padding-left: 90px;
    padding-top: 20px;
}
#middle{
background: white;
}
h1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
li{
    display: inline-block;
}
#bottom{
    background: black;
}
h2{
    color:  yellow;
    text-align: center;
}
.para4{
    text-align: center;
    color: gray;
    margin: 0px;
    font-size: 15px;
  
}
.para5{
    text-align: center;
    color:gray;
    margin: 0px;
    font-size: 15px;
}
.para2{
    text-align: center;
    color:black;
    margin: 0px;
    font-size: 15px;
}
.para3{
    text-align: center;
    color:black;
    margin: 0px;
    font-size: 15px;  
}
.para1{
    color: black;
    font-weight: bold;
    font-family: "Ptsans";
    font-size: 26px;
}
form{
    text-align: center;
  
}
#text{
   color: gray;
   border-radius:3px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 300px;
   margin-top: 30px;
}
#submit{
    background-color: #fcdb00;
    border-radius: 5px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
#icon{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
#contact{
    margin-bottom: 30px;
    color: white;
}
#content{
    padding: 30px;
    margin-left: 0px;
    margin-top: 50px;
    margin-right: 0px;
    padding-right: 50px;
}
#features1{
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#features{
    padding-bottom: 150px;  
}
#button{
    text-align: center;
    margin: 50px;
}
#border{
    text-align: center;
}
#border2{
    text-align: center;
    margin-top: 30px;
}