#top{
    background-color:  yellow;
}
.nav{
    list-style: none;
}
.nav a{
    display: inline-block;
    color:black;
    text-decoration: none;
    font-family: "PTSans";
    font-size: 25px;
    font-weight: bold;
}
#logo{
    position: relative;
    bottom: 10px;
}
#middle{
background: white;
}
h1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
#bottom{
    background: black;
}

h2{
    color:  yellow;
    text-align: center;
}
.para4{
    text-align: center;
    color: gray;
    margin: 0px;
    font-size: 15px;
}
.para5{
    text-align: center;
    color:gray;
    margin: 0px;
    font-size: 15px;
}
.para2{
    text-align: center;
    color:black;
    margin: 0px;
    font-size: 15px;
}
.para3{
    text-align: center;
    color:black;
    margin: 0px;
    font-size: 15px;  
}
.para1{
    color: black;
    font-weight: bold;
    font-family: "Ptsans";
    font-size: 26px;
}
form{
    text-align: center;
  
}
#text{
   color: gray;
   border-radius:3px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 300px;
   margin-top: 30px;
  
}
#submit{
    background-color: #fcdb00;
    border-radius: 5px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
#icon{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
#contact{
    margin-bottom: 30px;
    color: white;
}
#content{
    padding: 30px;
    margin-left: 0px;
    margin-top: 50px;
    margin-right: 0px;
    padding-right: 50px;
}
#features1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#features{
    margin-bottom: 150px;
    margin-left: 50px;  
}
#button{
    text-align: center;
    margin: 30px;
}
#border{
    text-align: center;
}
#border2{
    text-align: center;
    margin-top: 30px;
}
.par{
    margin: 0px 0px 0px 40px;
    color: gray;
    font-weight: bold;
    font-size: 15px;
}
.title{
    margin: 10px 0px 0px 0px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
label{
    margin: 0 0 0 0;
    font-size: 25px;
    line-height: 30px;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}
li{
    display: inline-block;
}
.ipad{
    margin-left: 100px;
}
@media screen and (max-width: 320px){
    
.black{
    width: 280px;
}
.white{
    width: 280px;
}
#text{
    color: gray;
    border-radius:3px;
    padding: 5px;
    width: 288px;
    height: 30px;
    margin-top: 30px;
 }
 .ipad{
     position: relative;
     bottom: 350px;
     margin-left: 10px;
     height: 90%;
     width: 90%;
 }
 .span{
     position: relative;
     top: 400px;
 }
 p{
   font-size: 13px;
 }
 .para1{ 
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.para4{
    text-align: center;
    color: gray;
    margin: 0px;
    font-size: 13px;
}
.para5{
    text-align: center;
    color:gray;
    margin: 0px;
    font-size: 13px;
}
.para2{
    text-align: center;
    color:black;
    margin: 0px;
    font-size: 13px;
}
.para3{
    text-align: center;
    color:black;
    margin: 0px;
    font-size: 13px;  
}
#button{
    margin: 10px 0px 5px 0px;
}
 h1{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
#logo{
    height: 30px;
    width: 100px;
    margin-top: 10px;
}
h2{
    color:  yellow;
    text-align: center;
    font-size: 20px;
 
}
#icon{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#contact{
    color: white;
    font-size: 13px;
    margin: 3px;
}
#content{
    margin: 0px;
 }

.par{
    margin: 0px 0px 0px 30px;
    color: gray;
    font-weight: bold;
    font-size: 13px;
}
.title{
    margin: 10px 0px 0px 0px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}
#features1{
    margin: 20px 0px 0px 0px;
}
#features{
    margin: 0px 0px 20px 0px;  
}
.pic{
height: 20px;
}
.navbar-toggle{
    background-color: black;
    opacity: 0.9;
}
}
@media screen and (min-width: 768px) and (max-width: 990px){
    .black{
        width: 500px;
    }
    .white{
        width: 500px;
    }
    #button{
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
    #border{
        text-align: center;
        margin: 0px;
    }
    #border2{
        text-align: center;
        margin: 30px 0px 0px 0px;
    }
    #features1{
        margin: 50px 0px 0px 200px;
    }
    #features{
        margin:0px 0px 20px 200px; 
    }
    h1{
        margin: 15px 0px 0px 0px;
    }
    .ipad{
        position: relative;
        bottom: 350px;
        margin-left: 200px;
    }
    .span{
        position: relative;
        top: 460px;
    }
    .span p{
        margin-left: 200px;
        margin-right: 200px;
    }
    .span img{
        margin-left: 250px;
        
    }
    #content{
         margin: 0px;
    }
}

